<div class="row table-vertical-center">
  <div class="col-lg-12">
    <h3><%= skill.skill_type.name.titleize %></h3>
    <p class="h4"><%= skill.level_name %></p>
    <p class="h4">$<%= skill.rate %> per hour</p>
  </div>
</div>