
<table class="table table-striped">
  <% Hour.days.each_with_index do |day, index| %>
      <% hours = user.hours.where(day: index) %>
      <% if hours.length > 0 %>
          <tr>
            <td>
              <%= day %>
            </td>
            <td>
              <ul>
                <% hours.where(day: index).each do |hour| %>
                    <li>
                      <%= hour.open_time %> - <%= hour.close_time %>
                    </li>
                <% end %>
              </ul>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>